.industries-intro-section {
  background-color: var(--dirty-grey);
  margin-top: 20px;
}

.industries-title {
  position: relative;
  top: -6px;
  padding-right: 2%;
  color: var(--dirty-grey);
  font-size: 30px;
  font-weight: 600;
  border-bottom: 3px var(--theme-color-1) solid;
  width: max-content;
}

.thumb-bottom-container {
  display: flex;
  justify-content: space-between;
}
.thumb-img {
  border-bottom: 2px var(--dark-grey) solid;
  padding-bottom: 8px;
}

.thumb-text {
  font-weight: 500;
  font-size: 18px;
}

.add-symbol {
  color: var(--theme-color-1);
  font-size: 18px;
}

@media (max-width: 700px) {
  .industries-title {
    font-size: 24px;
  }
  .thumb-text {
    font-size: 12px;
  }
  .carousel-image-container {
    height: 480px;
  }
  /* .add-symbol {
      font-size: ;
    } */
}

.carousel-image-container {
  height: 320px;
}
