.intro-two {
  height: 350px;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: row-reverse;
}

.two-right-container {
  width: 50%;
}

.blue-brick-triangle {
  width: 100px;
  height: 100px;
  background: linear-gradient(50deg, var(--theme-color-3) 60px, var(--transparent) 0);
  overflow: hidden;
}

.blue-brick-container {
  width: 50%;
  background: linear-gradient(52deg, var(--light-grey-2) 70%, var(--transparent) 0);
  color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.two-title {
  margin-top: 24px;
  font-weight: 1000;
  transform-origin: center center;
  opacity: 1;
  pointer-events: auto;
  cursor: inherit;
  border: none;
  background-color: transparent;
  transition-property: none;
  filter: blur(0px);
  text-transform: none;
  font-style: normal;
  font-size: 30px;
  color: var(--dark-grey);
  z-index: 225;
  font-family: "Rubik SemiBold-Normal-CzICQAJy";
  overflow: visible;
  white-space: pre-wrap;
  text-align: left;
  padding: 0px;
  line-height: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 2px var(--theme-color-2) solid;
  padding-bottom: 16px !important;
}

.two-body {
  padding-top: 16px !important;
  transform: rotate(0deg);
  height: 127px;
  transform-origin: center center;
  opacity: 1;
  pointer-events: auto;
  cursor: inherit;
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  transition-property: none;
  filter: blur(0px);
  text-transform: none;
  font-style: normal;
  font-size: 18px;
  color: var(--dark-grey);
  z-index: 227;
  overflow: visible;
  white-space: pre-wrap;
  text-align: left;
  padding: 0px;
  line-height: 24px;
}

.intro-two-container-2 {
  display: none;
} 


@media (max-width: 700px) {
  .intro-two-container-1 {
    display: none;
  }
  .intro-two-container-2{
    display: block;
    width: 100%;
    padding: 0 10%;
    
  }
  .intro-two-container-2 .two-body{
    font-size: 12px;
  }
  .intro-two-container-2 .two-title{
    font-size: 24px;
  }
  .blue-brick-container {
    width: 100%;
  }
}