.intro-title {
  border-bottom-color: rgb(0, 168, 225);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 168, 225);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 168, 225);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 168, 225);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(0, 168, 225);
  font-family: "rubik", sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-palette: normal;
  font-size: 36.25px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 700;
  line-height: 45.3167px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  vertical-align: baseline;
}

.intro-body {
  border-bottom-color: rgb(54, 70, 89);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(54, 70, 89);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(54, 70, 89);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(54, 70, 89);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(54, 70, 89);
  font-family: "rubik", sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-palette: normal;
  font-size: 18.85px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 700;
  line-height:34px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  vertical-align: baseline;
}

.about-intro-container {
    margin-top: 16px;
    margin-bottom: 16px;
}