.carousel-container {
  background-image: linear-gradient(
      var(--trans-dark-grey),
      var(--trans-dark-grey)
    ),
    url("../../../assets/images/carousel.webp");
  background-position: center;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-text {
  color: var(--white);
  text-align: center;
  width: 60%;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.carousel-body-container {
  display: flex;
  justify-content: center;
}

.carousel-quote {
  color: var(--theme-color-3);
  font-size: 120px;
  font-family: fantasy;
}
.carousel-quote-2 {
  align-self: flex-end;
}

.carousel-sub-title {
  color: var(--white);
  text-align: center;
  width: 60%;
  font-size: 18px;
  font-weight: 700;
  width: max-content;
  margin-bottom: 0;
}

.carousel-sub-title-1 {
  border-top: var(--theme-color-1) 2px solid;
  padding-top: 12px;
}
