#small-head {
  display: none;

}
.small-logo {
  width: 120px;
}

@media (max-width: 700px) {
  #big-head {
    display: none;
  }
  #small-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#menu-main-menu {
  list-style-type: none !important;
}