.float {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 10000;
}

.float .green-brick {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--black);
}

@media (max-width: 414px) {
    .float .green-brick {
        font-size: 12px;
    }
}