.text-section-container {
  margin: 50px 0;
}
.text-section-container h2 {
  color: var(--theme-color-3);
  font-weight: 700;
}

.text-section-container p {
  font-size: 18px;
}

.left-brick-container {
  width: 100%;
  height: 50px;
  display: flex;
}

.left-brick-triangle {
  width: 40px;
  background: linear-gradient(
    to bottom right,
    var(--transparent) 0%,
    var(--transparent) 50%,
    var(--theme-color-1) 50%,
    var(--theme-color-1) 100%
  );
  transform: rotate(90deg);
  width: 50px;
}

.left-brick-brick {
  background-color: var(--theme-color-1);
  height: 50px;
  width: 220px;
}

@media (max-width: 414px) {
  .text-section-container p {
    font-size: 14px;
  }
  .left-brick-container {
    height: 30px;
  }
  .left-brick-brick {
    height: 30px;
    width: 110px;
  }
  .left-brick-triangle {
    width: 30px;
  }
}