#ot-sdk-btn {
  padding: 0;
  margin: 0;
  color: #fff;
  background: none;
  border: none;
  float: right;
}

#menu-footer-menu {
  list-style-type: none !important;
}

#menu-copyright-menu {
  list-style-type: none !important;
}