.intro-contact {
  height: 350px;
  /* background-color: antiquewhite; */
  display: flex;
  margin-top: 24px;
}

.contact-right {
  background-image: url("../../../assets/images/intro-contact.jpg");
  height: 100%;
  width: 60%;
  background-position: center; /* Center the image */
  position: relative;
}

.contact-left {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 40%;
}

.triangle-brick-dark-grey {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(134deg, var(--black) 40%, var(--transparent) 0);
  z-index: 1000;
}
.triangle-brick-light-grey {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(134deg, var(--dark-grey) 45%, var(--transparent) 0);
}

.contact-left h5 {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 1000;
}

.contact-left p {
  font-size: 16px;
  /* font-height: 24px; */
  padding: 20px;
  line-height: 1.7;
  font-weight: 400;
}

#contact-btn {
  transform: rotate(0deg);
  width: 144px;
  height: 53px;
  transform-origin: center center;
  pointer-events: auto;
  cursor: pointer;
  transition-property: none;
  background-color: transparent;
  z-index: 266;
}

.learn-more-button {
  margin-left: 20px;
}

@media (max-width: 1050px) {
  .contact-left h5 {
    font-size: 20px;
  }
  .contact-left p {
    font-size: 12px;
  }
}

@media (max-width: 630px) {
  .contact-left {
    width: 70%;
  }
  .contact-right {
    width: 30%;
  }
}

@media (max-width: 400px) {
  .contact-left {
    width: 100%;
  }
  .contact-right {
    display: none;
  }
}